 
 HOST = "192.168.100.106"
 USER="root"
 PASSWORD= "Nileduz"
 PORT= 3306
 
  PUBLICO = "kato_publico" 
  VENDAS = "kato_vendas" 
  ESTOQUE = "kato_estoque"
  FINANCEIRO = "kato_financeiro"
  MOBILE = "kato_mobile"
  USUARIO_SISTEMA = 1 


CNPJ=12264558911

#BROKER_URL='amqp://100.74.166.88:5672'
# --- conexao fila do sistema
BROKER_URL_SISTEMA='amqp://localhost'
QUEUE_NAME_SISTEMA= 'q.integracao.kato'
EXCHANGE_NAME_SISTEMA='sistema' 
# ---------------------------------------

#BROKER_URL='amqp://100.74.166.88:5672'
# --- conexao fila do mobile
BROKER_URL_MOBILE='amqp://100.74.166.88:5672'
QUEUE_NAME_MOBILE= 'q.integracao.kato'
EXCHANGE_NAME_MOBILE='template_api'
# ---------------------------------------



API_URL= 'https://server.intersig.com.br:3000/v1'
#token kato
API_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbnBqIjoiODA4NDQ2NDAwMDAxMTciLCJlbWFpbCI6ImJldG9fa2F0b0Bob3RtYWlsLmNvbSIsInNlbmhhIjoiMDAwIiwiY29kaWdvIjoxLCJpYXQiOjE3NzI1NDExMTB9.26pduuVJx8Te1WeU44ELFKlO8AH6vlDWtrjNPNVFzks"

API_ORIGIN_NAME='erp_integration'